<div class="layout-page">
    {% if page.header or page.pre_content %}
        <header class="content-header clearfix">
            <div class="layout-container">
                {{ page.header }}
                {{ page.pre_content }}
            </div>
        </header>
    {% endif %}

    <div class="layout-container">
        {% if show_breadcrumbs %}
            {{ page.breadcrumb }}
        {% endif %}

        <main class="clearfix page-content {{ no_space ? 'page-content--full' }}" role="main">
            <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
            {{ page.highlighted }}
            {% if page.help %}
                <div class="help">
                    {{ page.help }}
                </div>
            {% endif %}
            {{ page.content }}
        </main>
    </div>
</div>
